# This file is managed by Ansible.

{% for item in (mongodb_monitor_agent_base_config | combine(mongodb_monitor_agent_config))|dict2items %}
{{ item.key }}={{ item.value }}
{% endfor %}

# For additional optional settings, please see
# https://docs.cloudmanager.mongodb.com/reference/monitoring-agent/
