# This file is managed by Ansible.

{{ mongodb_final_config.systemLog.path }} {
{% for item in mongodb_logrotate_config|dict2items %}
    {{ item.value if item.key == 'frequency' else item.key + ' ' + item.value|string }}
{% endfor %}
    missingok
    compress
    delaycompress
    notifempty
    create
    postrotate
        kill -USR1 `cat {{ mongodb_final_config.storage.dbPath }}/mongod.lock 2> /dev/null` 2> /dev/null || true
    endscript
}
