# This file is managed by Ansible.

{{ mongodb_final_config.systemLog.path }} {
{% for key, value in mongodb_logrotate_config.iteritems() %}
    {{ value if key == 'frequency' else key + ' ' + value|string }}
{% endfor %}
    missingok
    compress
    delaycompress
    notifempty
    create
    postrotate
        kill -USR1 `cat {{ mongodb_final_config.storage.dbPath }}/mongod.lock 2> /dev/null` 2> /dev/null || true
    endscript
}
